@import "tailwindcss";


:root {
  --background: #f0fdf4;
  --foreground: #14532d;
}


body {
  background: linear-gradient(
    135deg,
    #ecfdf5,
    #ffffff,
    #dcfce7
  );

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
}